<template>
  <div>
    <b-button variant="success" class="float-right" @click="addNewUser"
      >Add New</b-button
    >
    <b-modal
      id="modal-form-user"
      ref="modal-form-user"
      :title="title"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          label="Name"
          label-for="name"
          :invalid-feedback="invalidFeedbackName"
          :valid-feedback="validFeedbackName"
          :state="stateName"
        >
          <b-form-input id="name" v-model="form.name" required></b-form-input>
        </b-form-group>
        <b-form-group
          label="Surname"
          label-for="surname"
          :invalid-feedback="invalidFeedbackSurname"
          :valid-feedback="validFeedbackSurname"
          :state="stateSurname"
        >
          <b-form-input
            id="surname"
            v-model="form.surname"
            required
          ></b-form-input>
        </b-form-group>
        <b-form-group
          label="Gender:"
          label-for="gender"
          :invalid-feedback="invalidFeedbackGender"
          :valid-feedback="validFeedbackGender"
          :state="stateGender"
        >
          <b-form-select
            id="gender"
            v-model="form.gender"
            :options="genderOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Education:"
          label-for="education"
          :invalid-feedback="invalidFeedbackEducation"
          :valid-feedback="validFeedbackEducation"
          :state="stateEducation"
        >
          <b-form-select
            id="education"
            v-model="form.education"
            :options="educationOptions"
            required
          ></b-form-select>
        </b-form-group>
        <b-form-group
          label="Position:"
          label-for="position"
          :invalid-feedback="invalidFeedbackPosition"
          :valid-feedback="validFeedbackPosition"
          :state="statePosition"
        >
          <b-form-select
            id="position"
            v-model="form.position"
            :options="positionOptions"
            required
          ></b-form-select>
        </b-form-group>
      </form>
      <b-card class="mt-3" header="Form Data Result">
        <pre class="m-0">{{ form }}</pre>
      </b-card>
    </b-modal>
    <b-table striped hover :items="userList" :fields="fields">
      <template v-slot:cell(operation)="data">
        <b-button @click="editUser(data.item)">Edit</b-button>
        &nbsp;
        <b-button variant="danger" @click="delUser(data.item)">Delete</b-button>
      </template>
    </b-table>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: 'เพิ่มผู้ใช้ใหม่',
      form: {
        id: -1,
        name: '',
        surname: '',
        gender: null,
        education: null
      },
      genderOptions: [
        { text: 'Select One', value: null },
        { value: 'ชาย', text: 'ผู้ชาย' },
        { value: 'หญิง', text: 'ผู้หญิง' }
      ],
      educationOptions: [
        { text: 'Select One', value: null },
        { value: 'ปริญญาตรี', text: 'ปริญญาตรี' },
        { value: 'ปริญญาโท', text: 'ปริญญาโท' },
        { value: 'ปริญญาเอก', text: 'ปริญญาเอก' }
      ],
      positionOptions: [
        { text: 'Select One', value: null },
        { value: 'นักวิเคราะห์ข้อมูล', text: 'นักวิเคราะห์ข้อมูล' },
        { value: 'นักวิเคราะห์ธุรกิจ', text: 'นักวิเคราะห์ธุรกิจ' },
        { value: 'ฝ่ายการตลาด', text: 'ฝ่ายการตลาด' }
      ],
      userList: [
        {
          id: 1,
          name: 'มนัญชัย',
          surname: 'พิลาบุตร',
          gender: 'ชาย',
          education: 'ปริญญาตรี',
          position: 'นักวิเคราะห์ข้อมูล'
        }
      ],
      lastId: 2,
      fields: [
        'id',
        'name',
        'surname',
        'gender',
        'education',
        'position',
        'operation'
      ]
    }
  },
  methods: {
    addNewUser () {
      console.log('Add new user')
      this.$bvModal.show('modal-form-user')
    },
    editUser (user) {
      console.log('Edit ')
      console.log(user)
      this.title = 'แก้ไขผู้ใช้'
      this.form = { ...user }
      this.form.id = user.id
      this.$bvModal.show('modal-form-user')
    },
    delUser (user) {
      console.log('Del ')
      console.log(user)
      this.$bvModal
        .msgBoxConfirm('ท่านต้องการลบ ' + user.name + ' หรือไม่!!!', {
          title: 'กุณายืนยัน',
          size: 'sm',
          buttonSize: 'sm',
          okVariant: 'danger',
          okTitle: 'YES',
          cancelTitle: 'NO',
          footerClass: 'p-2',
          hideHeaderClose: false,
          centered: true
        })
        .then(value => {
          if (value) {
            this.deleteUser(user)
          }
        })
    },
    resetModal () {
      this.form = {
        id: -1,
        name: '',
        surname: '',
        gender: null,
        education: null,
        position: null
      }
    },
    handleOk (bvModalEvt) {
      bvModalEvt.preventDefault()
      this.handelSubmit()
    },
    handelSubmit () {
      // Check VaLidate
      if (this.stateName === false || this.stateGender === false) {
        return
      }
      // Do when oass validation
      if (this.form.id > 0) {
        this.updateUser(this.form)
      } else {
        this.addUser(this.form)
      }
      // Hide the modal manuality
      this.$nextTick(() => {
        this.$bvModal.hide('modal-form-user')
      })
    },
    addUser (user) {
      user.id = this.lastId++
      this.userList.push(user)
    },
    updateUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1, user)
    },
    deleteUser (user) {
      const index = this.userList.findIndex(item => item.id === user.id)
      this.userList.splice(index, 1)
    }
  },
  computed: {
    stateName () {
      return this.form.name.length >= 2
    },
    invalidFeedbackName () {
      if (this.form.name.length > 2) {
        return ''
      } else if (this.form.name.length > 0) {
        return 'ชื่อต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่ชื่อ'
      }
    },
    validFeedbackName () {
      return this.stateName === true ? 'สำเร็จ' : ''
    },
    stateGender () {
      return this.form.gender != null
    },
    invalidFeedbackGender () {
      if (this.form.gender != null) {
        return ''
      } else {
        return 'กรุณาเลือกเพศ'
      }
    },
    validFeedbackGender () {
      return this.stateGender === true ? 'สำเร็จ' : ''
    },
    stateSurname () {
      return this.form.surname.length >= 2
    },
    invalidFeedbackSurname () {
      if (this.form.surname.length > 2) {
        return ''
      } else if (this.form.surname.length > 0) {
        return 'นามสกุลต้องมีขนาดอย่างน้อย 2 ตัวอักษร'
      } else {
        return 'ต้องใส่นามสกุล'
      }
    },
    validFeedbackSurname () {
      return this.stateSurname === true ? 'สำเร็จ' : ''
    },
    stateEducation () {
      return this.form.education != null
    },
    invalidFeedbackEducation () {
      if (this.form.education != null) {
        return ''
      } else {
        return 'กรุณาเลือกการศึกษา'
      }
    },
    validFeedbackEducation () {
      return this.stateEducation === true ? 'สำเร็จ' : ''
    },
    statePosition () {
      return this.form.education != null
    },
    invalidFeedbackPosition () {
      if (this.form.education != null) {
        return ''
      } else {
        return 'กรุณาเลือกการศึกษา'
      }
    },
    validFeedbackPosition () {
      return this.stateEducation === true ? 'สำเร็จ' : ''
    }
  }
}
</script>
